@font-face {
    font-family: 'Fonte1';
    src: url('../public/fonts/font1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* rgba(29, 29, 47, 1) */
/* rgba(39, 42, 59, 1)*/
/* rgba(53, 56, 79, 1)
rgba(44, 53, 75, 1) 
rgba(47, 109, 242, 1) 
rgba(56, 114, 255, 1) */
